.loginbtn {
  display: flex;
  justify-content: flex-end;
  margin:20px;
  cursor: pointer;
}

.nav-section {
  display: flex;
  justify-content: center;
}

.menu-area {
  width: 100%;
  display: flex;
  justify-content: center;
}
.menu-list {
  display: flex;
  justify-content: center;
  list-style: none;
}
.menu-list li {
  padding:10px;
}
.search-area {
    height: 42px;
    padding: 5px;
    border-bottom: 1px solid #000;
    position: absolute;
    right: 20px;
}
.search-icon {
  margin-right: 5px;
}
.search-input {
  border:none;
  outline: none;
}

.item-img { 
  display: block;
  width: 100%;
}

.product-img {
  display: flex;
  justify-content: flex-end;
}